<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kevinandre.template" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>Bloqs Cordova/Vue Template</name>
    <description>
        New Bloqs Project
    </description>
    <author email="kevin@kevinandre.com" href="http://kevinandre.com">
        Kevin Armstrong
    </author>
    <content src="index.html" />
    <!-- SWITCH TO CMS BEFORE BUILD FOR APP STORE-->
    <access origin="*" />
    <!-- <access origin="http://google.com"></access> -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" /> <!-- none, local, cloud -->
        <preference name="Suppresses3DTouchGesture" value="false" />
        <preference name="SuppressesLongPressGesture" value="false" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="Orientation" value="portrait" /> <!-- default, portrait, landscape -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-appavailability" spec="^0.4.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.2.3" />
    <plugin name="cordova-plugin-device" spec="file:node_modules/cordova-plugin-device" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.7" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="^0.8.5" />
</widget>
